#meme-image {
  position: absolute;
  width: 399px;
  height: 399px;
}

#meme-text {
  position: absolute;
  width: 380px;
  height: 150px;
  margin-left: 10px;
  margin-top: 240px;
  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: 5px 5px 5px black;
}
#meme-image-container {
  width: 400px;
  height: 400px;
  background-color: white;
}

#fire {
  background-color: red;
}
#water{
  background-color: blue;
}
#earth {
  background-color: green;
}
